.timer {
    width : 100%;
    height: 100%;
}

.timer__top {
    width           : 100%;
    min-height      : 55px;
    background-color: #C4C4C4;
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    padding         : 10px 40px;
    margin-bottom   : 20px;
}

#working-pause .timer__top,
#working .timer__top {
    background-color: #DC3E22;
}

#break-pause .timer__top,
#break-active .timer__top {
    background-color: #A8B64F;
}

.timer__top span {
    font-size  : 16px;
    font-weight: 400;
    line-height: 17px;
    color      : white;
}

.timer__clock {
    width     : 420px;
    min-height: 180px;
    margin    : 0 auto 60px auto;
    position  : relative;
}

.timer__display {
    font-size  : 150px;
    font-weight: 200;
    line-height: unset;
}

#working .timer__display {
    color: #DC3E22;
}

#break-active .timer__display {
    color: #A8B64F;
}

.timer__display-separator {
    display  : inline-block;
    transform: translateY(-12px);
}

.timer__btn-plus {
    position        : absolute;
    right           : -55px;
    top             : 50%;
    transform       : translateY(-50%);
    width           : 50px;
    height          : 50px;
    border-radius   : 50%;
    background-color: #C4C4C4;
    padding         : 0;
    display         : flex;
    justify-content : center;
    align-items     : center;
    transition      : background-color linear 0.2s;
}

.timer__btn-plus img {
    width  : 16px;
    height : 16px;
    display: block;
}

.timer__btn-plus:hover {
    background-color: #a8b64f;
}

.timer__controls {
    max-width      : 400px;
    margin         : 0 auto;
    display        : flex;
    justify-content: center;
}

.timer__controls [class ^="timer__controls-"] {
    max-width      : 400px;
    margin         : 0 auto;
    display        : flex;
    justify-content: center;
}

[class ^="timer__controls-"] button:first-child {
    margin-right: 25px;
}

.timer__controls-waiting .timer__btn-start:hover {
    background-color: #899441;
}

.timer__controls-waiting .timer__btn-stop {
    pointer-events  : none;
    background-color: transparent;
    border          : 2px solid #c4c4c4;
    color           : #c4c4c4;
}


.timer__controls-break-pause .timer__btn-skip,
.timer__controls-break .timer__btn-skip,
.timer__controls-working-pause .timer__btn-ready,
.timer__controls-working-work .timer__btn-stop {
    pointer-events  : all;
    background-color: transparent;
    border          : 2px solid #DC3E22;
    color           : #DC3E22;
}


.timer__controls-break-pause .timer__btn-skip:hover,
.timer__controls-break .timer__btn-skip:hover,
.timer__controls-working-pause .timer__btn-ready:hover,
.timer__controls-working-work .timer__btn-stop:hover {
    background-color: #DC3E22;
    color           : #FFFFFF;
}

.timer__controls-break-pause .timer__btn-continue:hover,
.timer__controls-break .timer__btn-pause:hover,
.timer__controls-working-work .timer__btn-pause:hover {
    background-color: #899441;
}

.timer__notice {
    position   : absolute;
    color      : #DC3E22;
    left       : 50%;
    transform  : translateX(-50%);
    width      : max-content;
    font-size  : 16px;
    font-weight: 600;
    line-height: 17px;
    bottom     : -23px;
}

.timer__notice span {
    display   : block;
    text-align: center;
}

.timer__settings-popup label {
    display      : block;
    margin-bottom: 15px;
    font-size    : 16px;
    font-weight  : 400;
    line-height  : 17px;
}

.timer__settings-popup input {
    width       : 28px;
    margin-right: 12px;
    font-size   : 16px;
    font-weight : 400;
    line-height : 20px;
    cursor      : pointer;
    border      : 1px solid #333333;
}

.timer__settings button {
    background-color: transparent;
    padding         : 0;
    position        : relative;
    z-index         : 2;
}

.timer__settings-popup svg {
    width : 40px;
    height: 40px;
}

.timer__settings {
    position   : relative;
    margin-left: 30px;
    width      : max-content;
    min-height : 60px;
}

.timer__settings-popup {
    position        : absolute;
    background-color: #FFFFFF;
    padding         : 15px 15px 5px 15px;
    width           : 345px;
    z-index         : 200000;
    border-radius   : 5px;
    top             : -30px;
    left            : 40px;
}

.timer__settings-popup button {
    padding         : 0;
    background-color: transparent;
    position        : absolute;
    top             : 4px;
    right           : 4px;
    transition      : opacity linear 0.2s;
}

.timer__settings-popup button:hover {
    opacity: 70%;
}

.timer__settings-popup button svg {
    width : 17px;
    height: 17px;
}