.modalDelete {
    width           : 100vw;
    height          : 100vh;
    position        : absolute;
    top             : 0;
    left            : 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 100; 
}

.modalDelete button {
    transition: opacity linear 0.2s;
}

.modalDelete button:hover {
    opacity: 0.7;
}

.modalDelete__block {
    width     : 350px;
    min-height: 175px;
    position  : absolute;
    top       : 50%;
    left      : 50%;
    transform : translate3d(-50%, -50%, 0);
    padding   : 25px;
    background-color: white;
}

.modalDelete__block h1 {
    font-size    : 24px;
    font-weight  : 400;
    line-height  : 17px;
    text-align   : center;
    color        : #333333;
    margin-bottom: 25px;
}

.modalDelete__main-btn {
    padding         : 20px 50px;
    font-size       : 16px;
    font-weight     : 500;
    line-height     : 17px;
    text-align      : center;
    color           : white;
    background-color: #DC3E22;
    margin          : 0 auto 10px auto;
}

.modalDelete__close-top-btn {
    width           : 24px;
    height          : 24px;
    background-color: transparent;
    position        : absolute;
    top             : 7px;
    right           : 7px;
    border          : none;
    padding: 0;
}

.modalDelete__close-top-btn img {
    width : 24px;
    height: 24px;
}

.modalDelete__close-text-btn {
    border     : none;
    padding    : 0;
    font-size  : 16px;
    font-weight: 300;
    line-height: 17px;
    text-align : center;
    margin     : 0 auto;
    background-color: transparent;
    color: #333333;
    text-decoration: underline;


}